# Import Data

In [2]:
import pandas as pd
import os
os.chdir('E:\Data Science and Machine Learning Course\Assignment')
df=pd.read_csv('weight-height.csv')

In [3]:
df.head(10)

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801
5   Male  67.253016  152.212156
6   Male  68.785081  183.927889
7   Male  68.348516  167.971111
8   Male  67.018950  175.929440
9   Male  63.456494  156.399676

# Checking Null value

In [4]:
df.isnull().sum()

Gender    0
Height    0
Weight    0
dtype: int64

# Encoding Gender Column (using Label Encoder)

In [5]:
from sklearn.preprocessing import LabelEncoder

In [7]:
LabelEn=LabelEncoder()

In [15]:
df.Gender=LabelEn.fit_transform(df['Gender'])

In [19]:
df.head(5)

   Gender     Height      Weight
0       1  73.847017  241.893563
1       1  68.781904  162.310473
2       1  74.110105  212.740856
3       1  71.730978  220.042470
4       1  69.881796  206.349801

In [18]:
df.shape

(8555, 3)

# Separating Height in x and Weight in y

In [22]:
x = df[['Gender','Height']]
y = df['Weight']

In [23]:
x.head()

   Gender     Height
0       1  73.847017
1       1  68.781904
2       1  74.110105
3       1  71.730978
4       1  69.881796

In [24]:
y.head()

0    241.893563
1    162.310473
2    212.740856
3    220.042470
4    206.349801
Name: Weight, dtype: float64

# Split train data and test data (70% and 30%)

In [20]:
from sklearn.model_selection import train_test_split

In [25]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3,random_state=1)

In [27]:
x_train.shape

(5988, 2)

In [28]:
x_test.shape

(2567, 2)

# Multiple Variable Linear Regression Algorithm Implementation

In [29]:
from sklearn.linear_model import LinearRegression
LR=LinearRegression()

In [30]:
LR.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

# Prediction

In [31]:
y_test_predict=LR.predict(x_test)

# Mean Squared Error

In [32]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test,y_test_predict)
mse

99.67250998070031

# R Squared Error

In [44]:
from sklearn.metrics import r2_score

In [45]:
R_Squared_Error=r2_score(y_test,y_test_predict)
R_Squared_Error

0.905995960709116

In [46]:
Accuracy=R_Squared_Error*100

In [47]:
Accuracy

90.5995960709116